body {
    color: rgb(240, 5, 5);
    background: rgb(4, 4, 4);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgba(241, 16, 16, 0.81);
    padding: 20px;
    font-size: 32px;
    color: rgb(190, 45, 45);
}

.chamada {
    background: rgb(63, 61, 60);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}